{% extends "layout.html" %}
{% block content %}
    <form action="" method=post class="form-horizontal">

    {% if student is defined %}
        <h2>Edit Student</h2>
    {% else %}
        <h2>Create Student</h2>
    {% endif %}

    <div class="control-group">

            <div class="control-group">

                <div class="controls">
                        <input type="text" id="student" name="student" maxlength="20" class="input-xlarge form-control"#}
                               placeholder="Please give student name"{% if student is defined %} value="{{ student.name }}"{% endif %}
                               autofocus=1 required>
                </div>
            </div>
        </div>
<hr>
     <div class="control-group">
            <div class="controls">
             <button type="submit" class="btn btn-success">
                {% if student %}
                    Save
                {% else %}
                    Create student
                {% endif %}
             </button>
            </div>
        </div>
    </form>
{% endblock %}
